<div class="col-md-12" >
  <div class="card card-container">
    <img
      id="profile-img"
      src="./assets/img/student.png"
      class="profile-img-card"
    />
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="form.nom" required maxlength="20"
               #nom="ngModel"/>
        <div class="alert-danger" *ngIf="nom.errors && f.submitted">
          <div *ngIf="nom.errors.required">nom is required</div>
          <div *ngIf="nom.errors.minlength">nom must be at least 3 characters</div>
          <div *ngIf="nom.errors.maxlength">nom must be at most 20 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="prenom">Prenom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="form.prenom" required
               maxlength="20"
               #prenom="ngModel"/>
        <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
          <div *ngIf="prenom.errors.required">prenom is required</div>
          <div *ngIf="prenom.errors.minlength">prenom must be at least 3 characters</div>
          <div *ngIf="prenom.errors.maxlength">prenom must be at most 20 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="dateNaissance">Date de naissance</label>
        <input type="date"  datetime="yyyy-MM-dd" class="form-control" id="dateNaissance" name="dateNaissance"
               [(ngModel)]="form.dateNaissance"
               #dateNaissance="ngModel"
               required
               max="2013-12-31" />
        <div class="alert-danger" *ngIf="dateNaissance.errors && f.submitted">
          <div *ngIf="dateNaissance.errors">date de naissance is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" required email
               #email="ngModel"/>
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="codeMasar">Code masar</label>
        <input type="text" class="form-control" id="codeMasar" name="codeMasar" [(ngModel)]="form.codeMasar"
               required maxlength="20"
               #codeMasar="ngModel"/>
        <div class="alert-danger" *ngIf="codeMasar.errors && f.submitted">
          <div *ngIf="codeMasar.errors.required">codeMasar is required</div>
          <div *ngIf="codeMasar.errors.minlength">codeMasar must be at least 3 characters</div>
          <div *ngIf="codeMasar.errors.maxlength">codeMasar must be at most 20 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="codeMasar">Niveau</label>
        <nz-select [(ngModel)]="form.niveau" name="niveau">
          <nz-option nzValue="premierAnnee" nzLabel="Premier annee"></nz-option>
          <nz-option nzValue="deuxiemeAnnee" nzLabel="Deuxieme annee"></nz-option>
          <nz-option nzValue="troisiemeAnnee" nzLabel="Troisieme annee"></nz-option>
          <nz-option nzValue="quatriemeAnnee" nzLabel="Quatrieme annee"></nz-option>
          <nz-option nzValue="cinquiemeAnnee" nzLabel="Cinquieme annee"></nz-option>
        </nz-select>
      </div>

      <div class="form-group">
        <label >filiere</label>
        <nz-select [(ngModel)]="form.filiere" name="filiere">
          <nz-option nzValue="CP" nzLabel="Cycle préparatoire"></nz-option>
          <nz-option nzValue="GL" nzLabel="Génie logiciel"></nz-option>
          <nz-option nzValue="GIID" nzLabel="Ingénierie des Données"></nz-option>
          <nz-option nzValue="GRT" nzLabel="Génie Réseaux et Télécoms"></nz-option>
          <nz-option nzValue="GP" nzLabel="Génie des Procédés"></nz-option>
          <nz-option nzValue="GE" nzLabel="Génie Electrique"></nz-option>
        </nz-select>
      </div>

      <div class="form-group">
        <label for="password">Mot de pass</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="form.password" required
               minlength="6" #password="ngModel"/>
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Mot de pass is required</div>
          <div *ngIf="password.errors.minlength">
            Mot de pass must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
