<div id="app" class="container-fluid">

  <app-navbar></app-navbar>
  <header></header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">XJ-ENAKH</a>
    <!--    <div class="sidebar-logo">
          <a href="#">
            <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
            <h1>XJ_Esakh</h1>
          </a>
        </div>-->
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/registerEtudiant" class="nav-link" routerLink="registerEtudiant">Sign Upt</a>
      </li>
      <li class="nav-item">
        <a href="/registerEnseignant" class="nav-link" routerLink="registerEnseignant">Sign Upg</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>


 <!-- <div class="heading"></div>-->


  <div class="row">
    <section *ngIf="isLoggedIn" class="col-">
      <app-sidebar></app-sidebar>
    </section>

    <section class="col-md-auto" >
      <router-outlet></router-outlet>
    </section>
  </div>


  <footer></footer>
</div>
