<ul nz-menu nzMode="inline" *ngIf="showSideBarAdministrateur">
  <li nz-submenu  nzTitle="Tableau de bord ad" nzIcon="dashboard">
    <ul>
      <li nz-submenu nzOpen nzTitle="Cours" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">List des cours</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Ajouter cours</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Rechercher cours</a>
          </li>
        </ul>
      </li>


      <li nz-submenu nzOpen nzTitle="Statistique" nzIcon="pie-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des notes</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des absences</a>
          </li>
        </ul>
      </li>


      <li nz-submenu nzOpen nzTitle="Demandes" nzIcon="diff">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">list des Demandes</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Demandes acceptée</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Demandes rejetée</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des demandes</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Emplois du temps" nzIcon="field-time">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">premier semestre</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">deuxième semestre</a>
          </li>
        </ul>
      </li>

    </ul>
  </li>
</ul>

<ul nz-menu nzMode="inline" *ngIf="showSideBarEnseignant">
  <li nz-submenu  nzTitle="Tableau de bord profprof" nzIcon="dashboard">
    <ul>
      <li nz-submenu nzOpen nzTitle="Cours" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">List des cours</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Ajouter cours</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Rechercher cours</a>
          </li>
        </ul>
      </li>


      <li nz-submenu nzOpen nzTitle="Statistique" nzIcon="pie-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des notes</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des absences</a>
          </li>
        </ul>
      </li>


      <li nz-submenu nzOpen nzTitle="Demandes" nzIcon="diff">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">list des Demandes</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Demandes acceptée</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Demandes rejetée</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des demandes</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Emplois du temps" nzIcon="field-time">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">premier semestre</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">deuxième semestre</a>
          </li>
        </ul>
      </li>

    </ul>
  </li>
</ul>

<ul nz-menu nzMode="inline" *ngIf="showSideBarEtudiant">
  <li nz-submenu  nzTitle="Tableau de bord et" nzIcon="dashboard">
    <ul>
      <li nz-submenu nzOpen nzTitle="Cours" nzIcon="book">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">List des cours</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Ajouter cours</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Rechercher cours</a>
          </li>
        </ul>
      </li>


      <li nz-submenu nzOpen nzTitle="Statistique" nzIcon="pie-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des notes</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des absences</a>
          </li>
        </ul>
      </li>


      <li nz-submenu nzOpen nzTitle="Demandes" nzIcon="diff">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">list des Demandes</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Demandes acceptée</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Demandes rejetée</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">Statistique des demandes</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Emplois du temps" nzIcon="field-time">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">premier semestre</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="#">deuxième semestre</a>
          </li>
        </ul>
      </li>

    </ul>
  </li>
</ul>
